@media screen and (max-width:495px){
    .introduccion{
        width: 90%;
        font-size: .8rem;
    }
    .opciones{
        font-size: 1rem;
    }
}

@media screen and (max-width:355px){
    .btn{
        font-size: .7rem;
    }
}